!!!
%html
  %head
    %title Your Daily Notifications - GamifyCoding™
    :css
      body, table {
        font-family: 'Geist', ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
      }
      h1 {
        text-align: center;
        font-size: 2em;
        color: white;
        margin-top: 0;
      }
      -# p, a, a[href] {
      -#   color: white !important;
      -# }
      p {
        color: white;
      }
      .background {
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mP8/5+hHgAHggJ/PchI7wAAAABJRU5ErkJggg==) no-repeat;
        background-size: cover;
      }
      .outer {
        background-color: #262626;
        background: linear-gradient(315deg, rgba(227,123,70,1) 3%, rgba(198,51,92,1) 44%, rgba(86,50,139,1) 85%);
      }
      .inner {
        background-color: #262626;
        margin: 0 auto;
        width: 90%;
        height: 90%;
        border-radius: .3rem;
        padding: 1.5rem;
      }
      .spacer {
        line-height: 0;
        margin: 0;
      }
      .padding {
        padding-top: 5%;
        padding-bottom: 5%;
      }
      .last-element {
        margin-bottom: 0;
      }
      .sign-off {
        margin: 0;
        text-align: right;
        font-size: 11px;
      }
      .align-center{
        text-align: center;
      }
  %body
    %table.outer{ "width" => "100%", "height" => "100%" }
      %tr
        %td.spacer
          &nbsp;
        %td.padding
          %table.inner
            %tr
              %td.background
                %p.spacer
                  &nbsp;
                %h1 GamifyCoding™
                %p.align-center Your daily notification:
                -# INSERT CONTENT HERE
                %p.sign-off Best regards,
                %p.last-element.sign-off GamifyCoding™